# JetBrains
.idea
.project
.settings
.idea/*
**/.idea/*
*.iml
**/*.iml

# VS Code
.vscode/*
**/.vscode/*

# Windows
Thumbs.db
Desktop.ini

# Mac
.DS_Store
**/.DS_Store

# Target
target/*
**/target/*

*.releaseBackup
**/*.releaseBackup
release.properties
**/release.properties
hsperfdata_root/*
java-version.txt
**/release-pom.xml
reports/*
dist
Jenkinsdocker
Jenkinsfile
package.json
scripts/