<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
    <!-- [tracking] -->
    <entry key="tracking.trackId"/>
    <entry key="tracking.trackDomain"/>
    <entry key="tracking.deactivate">false</entry>
    <entry key="tracking.domain"/>
    <entry key="tracking.useParamsForDefaultPageName"/>

    <!-- [consumer] -->
    <entry key="consumer.consumerType">HTTP_CLIENT</entry>
    <entry key="consumer.filePath" />
    <entry key="consumer.filePrefix" />
    <entry key="consumer.maxAttempt">1</entry>
    <entry key="consumer.attemptTimeout">100</entry>
    <entry key="consumer.maxBatchSize">50</entry>
    <entry key="consumer.maxQueueSize">1000</entry>
    <entry key="consumer.maxFileLines">10000</entry>
    <entry key="consumer.maxFileDuration">1800000</entry>
    <entry key="consumer.maxFileSize">25165824</entry>
    <entry key="consumer.forceSSL">true</entry>
</properties>